<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atry.springcloud.dao.PaymentDao">
    <insert id="insert" parameterType="com.atry.springcloud.entities.Payment" keyProperty="id" useGeneratedKeys="true" >
        insert into payment (serial) values (#{serial});
    </insert>

    <!--名称，对应实体类-->
    <resultMap id="BaseMap" type="com.atry.springcloud.entities.Payment">
        <!--数据库数据类型，实体类属性名，数据库字段名-->
        <id jdbcType="BIGINT" property="id" column="id"/>
        <id jdbcType="VARCHAR" property="serial" column="serial"/>
    </resultMap>

    <select id="get" parameterType="long" resultMap="BaseMap">
        SELECT * from payment where id=#{id};
    </select>
</mapper>